<!DOCTYPE html>
<html>
  <head>
    <title>City Solvers</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="./jquery.ui.widget.js"></script>
    <script type="text/javascript" src="./jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="./jquery.fileupload.js"></script>
    <script type="text/javascript" src="./jquery.cloudinary.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuv_QCyrSP7bbNIhPM5V5oOcK2ZnwdqLw&callback=initMap" async defer></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>